@media (min-width: 768px){
    .wrapper{
        padding-left: 34px;
        padding-right: 34px;
    }
    .brandList{
        flex-wrap: wrap;
    }
    .read-more{
        display: inline-block;
    }
}



@media (min-width: 1120) {
    .wrapper{
        padding-left: 16px;
        padding-right: 16px;
    }
    .brandList{
        flex-wrap: wrap;
    }

    .read-more{
        display: inline-block;
    }
}


