@media (min-width: 768px){
    .wrapper{
        height: 56px;
    }

    .brands{
        padding-right: 24px !important;
        flex-direction: row;
        width: 72px;
    }

    .brandList{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap !important;
        /* margin-left: 24px; */
        margin-right: 24px;
        column-gap: 24px;
        /* overflow-y: visible;
        overflow-x: visible; */
    }

    .read-more, .hide-more{
        margin-left: 24px;
        cursor: pointer;
    }

    .read-more, .hide-more{
        display: inline-block;
    }

    .hidden{
        display: none;
    }

    .swiper-pagination{
        display: none;
    }

    .title{
        width: 100%;
    }

    .swiper, 
    .swiper-initialized, 
    .swiper-horizontal, 
    .swiper-backface-hidden{
        width: 100%;
    }
    .brandList__item{
        margin-bottom: 16px;
    }
}

@media (min-width: 1120px) {
    .wrapper{
        padding-right: 16px;
        margin-left: 32px;
    }
    
    .brandList{
        flex-wrap: wrap;
        margin-left: 32px;
        margin-right: 32px;
    }

    .read-more{
        margin-left: 32px;
    }

    .hide-more{
        margin-left: 32px;
    }

    .swiper-pagination{
        display: none;
    }
}

@media (max-width: 768px) {
    .read-more{
        display: none;
    }

    .hide-more{
        display: none;
    }

    .brandList{
        overflow-y: visible;
        overflow-x: visible;
    }
    .brands{
        position: relative;
        padding-bottom: 50px;
    }


        /* top: -20px; */
}

